# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno (claves API)
.env

# Datos que no queremos subir a GitHub
data/*.csv
data/*.json

# Otros archivos innecesarios
.DS_Store
Thumbs.db